@model IEnumerable<MyRecipes.ViewModels.User>
@{
    var roles = ViewBag.Roles as List<Microsoft.AspNetCore.Identity.IdentityRole>;
    var currentUserRoles = ViewBag.currentUserRoles;
}
<div class="container mt-5">
    <h1>Users</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Current Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <small class="text-muted">
                            @foreach (var role in user.Roles)
                            {

                                <p>@role </p>
                            }
                        </small>
                    </td>
                    @if ( currentUserRoles.Contains("Admin"))
                    {
                    <td>
                        @if (user.Roles.Count == 0)
                        {
                            <a asp-action="ApproveUser" asp-route-id="@user.UserId" asp-route-roles="User" class="btn btn-primary btn-sm">Approve User</a>
                        }
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modifyRolesModal" data-bs-userId=@user.UserId data-bs-roles=@Json.Serialize(user.Roles.ToArray()) data-bs-userName="@user.UserName">
                            Modify Roles
                        </button>
                    </td>
                    }

                </tr>
            }
                        <div class="modal fade" id="modifyRolesModal" tabindex="-1" role="dialog" aria-labelledby="modifyRolesModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modifyRolesModalLabel"></h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-action="ModifyUserRoles" method="post">
                                            <input type="hidden" name="UserId" id="user-id-input"/>
                                            <div class="form-group">
                                                <label for="roles">Roles</label>
                                                @foreach (var role in ViewBag.Roles)
                                                {
                                                    <div>
                                                        <input type="checkbox" class="role-input" name="role_@role.Name" value="@role.Name" id="role_@role.Name"  />
                                                        <label for="role_@role.Name">@role.Name</label>
                                                    </div>
                                                }
                                            </div>
                                            <input type="hidden" id="roles" name="roles" class="form-control"/>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

        </tbody>
    </table>
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            $('#modifyRolesModal').on('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const userId = button.getAttribute('data-bs-userId');
                const userName = button.getAttribute('data-bs-userName');
                const rolesJson = button.getAttribute('data-bs-roles');
                const roles = JSON.parse(rolesJson);
                
                const modal = $(this);
                modal.find('.modal-title').text('Modify roles for ' + userName);
                modal.find('#roles').val(rolesJson);
                modal.find('#user-id-input').val(userId);
                
                modal.find('.role-input').each(function () {
                    const role = $(this).val();
                    if (roles.includes(role)) {
                        $(this).prop("checked",true);
                    }
                })
            })
            $('.role-input').change(
                function () {
                    const role = $(this).val();
                    if ($(this).is(':checked')) {
                        updateRoles(role);
                    } else {
                        deleteRole(role);
                    }
                });

            function updateRoles(newRole) {
                let rolesArray;
                try {
                    rolesArray = JSON.parse($('#roles').val());
                } catch (e) {
                    rolesArray = [];
                }
                rolesArray.push(newRole);
                $('#roles').val(JSON.stringify(rolesArray));
            }

            function deleteRole(roleToDelete) {
                let rolesArray;
                try {
                    rolesArray = JSON.parse($('#roles').val());
                } catch (e) {
                    rolesArray = [];
                }
                const roles = rolesArray.filter((role) => role !== roleToDelete);
                $('#roles').val(JSON.stringify(roles));
            }
        });
    </script>
}