@model IEnumerable<MyRecipes.Models.Collection>

@{
    ViewData["Title"] = "Index";
}

<h1>Collections</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CollectionName)
            </th>
            <th>
                Dishes:
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionName)
                </td>
                <td>
                    <p>@item.DishCollections.Count() dishes</p>
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Collections" asp-route-id="@item.Id" class="btn btn-primary">View Collection</a>
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
